
<div id='root'>

  <%# XXX Fake rack for now %>
  <div class="rack">
    <span class="title">Rack</span>

    <% @switches.each do |switch| %>
      <div class="network-switch" title="Network switch: <%= switch.name %>">
        <span class="title"><%= switch.full_model %> switch</span>
      </div>
    <% end %>

    <% @chassis.each do |chassis| %>
      <div class="chassis" title="Chassis: <%= chassis.name %>">
        <span class="title"><%= chassis.full_model %> chassis</span>

      <div class="servers">
        <% chassis.servers.each do |server| %>
          <div class="server" title="Server: <%= server.name %>">
            <span class="title"><%= server.full_model %> server</span>

            <div class="network-adapters">
              <% server.network_adapters.each do |adapter| %>
                <div class="network-adapter" title="Network adapter: <%= adapter.full_model %> <%= adapter.name %>">
                  N
                </div>
              <% end %>
            </div>

            <div class="nodes">
              <% server.nodes.each do |node| %>
                <div
                  class="group"
                  title="Group: <%= node.group.name %>"
                  data-group-name="<%= node.group.name %>"
                >
                  <strong class="group-name"><%= node.group.name %></strong>
                  <div class="node" title="Node">
                    <%= node.name %>
                  </div>
                </div>
              <% end %>
            </div>

          </div>
        <% end %>
      </div>

      <div class="psus">
        <% chassis.psus.each do |psu| %>
          <div class="psu" title="PSU: <%= psu.name %>">
            <%= psu.full_model %> PSU
          </div>
        <% end %>
      </div>

      </div>
    <% end %>

  </div>

</div>
